<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <title>checkerboard</title>
</head>
<body>
    <div class="board">
        {%for row in range (rows) %}
            <div class="row">
                {% for col in range (cols) %}
                <div class="cell" {% if (row + col)% 2 == 0 %} color1 {% else%} color2 {%endif%} ></div>
                {% endfor%}
            </div>
        {% endfor %}
    </div>
</body>
</html>